---
import { GetAllPosts } from "../../../application/GetAllPosts";
import { JsonFileRepository } from "../../persistence/JsonFileRepository";

const posts = (new GetAllPosts((new JsonFileRepository('public/posts.json')))).execute();
---

<h1>Bienvenido a mi blog</h1>

{
    posts.getResponse().map((post) => (
      <a href={`/blog/${post.slug}`}>
        <h4>{post.title}</h4>
      </a>
    ))
}